{% extends "base.html" %}
{% block content %}
    {% block content_title %}
      <div class="container">
        <h2></h2>
      </div>
    {% endblock %}


    {% for article in articles_page.object_list %}
        <article>
          <div class="container">
            <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
            <section>{{ article.summary }}</section>
            <footer>
                <div class="article-footer">
                  <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                  <address>
                      {% if article.authors|length > 0 %}By{% endif %}
                      {% for author in article.authors %}
                          <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                      {% endfor %}
                  </address>
                </div>
            </footer>
          </div>
        </article>
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}
